.main{
    display: grid;
    padding: 2rem;
    grid-template-columns: 70% 30%;
    grid-template-rows: max-content min-content max-content 1fr 5rem max-content;
    grid-template-areas: 
        'articleHead articleHead'
        'Comments1   Comments2'
        'Comments1   Packs'
        'Image       Packs'
        'LastCont    LastCont'
        'button      button'
    ;
    margin: auto;
    text-align: center; 
    background-color: rgb(var(--basecolor));
}
.Image{
    grid-area: Image;
}
.LastCont{
    grid-area: LastCont;
}
.aside{
    text-align: left;
    grid-area: Comments2;
}
.packages{
    grid-area: Packs;
    overflow: auto;
}
.package{
    border: 1px solid gray;
    background-color: rgba(var(--fontcolor),0.8);
    border-radius: 14px;
    text-align: left;
    margin: 1rem;
    padding: 0.5rem 1rem;
    color: rgba(var(--basecolor),1);
}
.package > h2{
    color: rgba(var(--basecolor),1);
    font-size: 1.2rem;
}
.FeatInc::before{
    content: '° ';
}
.Features{
    list-style: none;
    }
.Image {
    position: relative;
    display: block;
    width: 100%;
    height: 70vh;
    margin: 1rem auto;
    text-align: center;
}
.Img{
	filter: drop-shadow(1px 1px 3px gray);
	border-radius: 25px;
}
.article p {
    margin-bottom: 1rem;
	font-style: monospace;
	line-height: 1em;
}
.ServicesButton{
    align-self: center;
    border: 1px solid rgb(var(--basecolor));
    color: rgb(var(--basecolor));
    background-color: rgb(var(--fontcolor));
    padding: 7px;
    margin: 7px;
    border-radius: 9px;
    transition: var(--fastrans);
    grid-area: button;
    font-size: 0.8rem;
    width: max-content;
    margin: auto;
}
.ServicesButton:hover{
    border: 1px solid rgb(var(--fontcolor));
    color: rgb(var(--fontcolor));
    background-color: rgb(var(--basecolor));
}
.article{
    text-align: left;
    grid-area: Comments1;
}
.articleHead > h1{
    text-align: right;
    padding: 1rem;
    font-size: 3rem;
    text-shadow: 1px 1px 7px white;
    transition: 300ms;
    grid-area: articleHead;
}
.articleHead > h1:hover{
    text-shadow: 1px 1px 14px white;
}
@media screen and (max-width:490px) and (orientation:portrait) {
    .main{
        padding: 0;
        grid-template-columns: 100%;
        grid-template-rows: max-content;
        grid-template-areas: 
            'articleHead'
            'Comments1'
            'Comments2'
            'Packs'
            'Image'
            'LastCont'
            'button'
        ;
    }
    .aside{
        text-align: center;
    }
    .LastCont{
        padding: 2rem;
    }
    .package{
        margin: 1rem auto;
        width: 90%;
        padding: 0.5rem 2rem;
    }
    .package > h2{
        font-size: 2rem;
    }
    .Image {
        width: 70vw;
        height: 70vw;
        margin: 2rem auto;
    }
    .article p {
        text-align: center;
        padding: 2rem;
    }
    .ServicesButton{
        margin: 1rem auto;
    }
    .articleHead > h1{
        text-align: center;
        font-size: 5rem;
    }
}
@media screen and (max-width: 700px) and (orientation:landscape) {
    .LastCont{
        padding: 0 2rem;
    }
    .package{
        padding: 0.5rem;
    }
    .package > h2{
        font-size: 1.6rem;
    }
    .Image {
        width: 30vw;
        height: 30vw;
        margin: 1rem auto;
    }
    .article p {
        text-align: left;
        padding: 1rem;
    }
    .articleHead > h1{
        text-align: center;
        font-size: 2rem;
    }
}